analytics-python
boto3
celery
datadog
ddtrace
Django<5
djangorestframework
django-countries
django-extensions
django-filter
django-fsm-log
django-fsm
django-parler-rest
django-parler
django-reversion
django-storages
django-waffle
djangoql
django-allow-cidr
drf-extra-fields
gunicorn
kombu
Markdown
psycopg2-binary
pydantic<2
python-dateutil
python-json-logger
rapidfuzz
redis
sentry-sdk==1.33.1
simplejson
pyjwt[crypto]
